nodered-flow.json
[{"id":"8112cf5.6e6d23","type":"tab","label":"Weight Scale","disabled":false,"info":""},{"id":"a8e1e0b3.2ab48","type":"ui_gauge","z":"8112cf5.6e6d23","name":"gr_weight","group":"ec1f9f2b.af68a","order":1,"width":0,"height":0,"gtype":"wave","title":"Unit Weight (g)","label":"g","format":"{{msg.payload}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":40,"wires":[]},{"id":"35ba512b.5fe01e","type":"mqtt in","z":"8112cf5.6e6d23","name":"","topic":"uas/weight","qos":"1","datatype":"auto","broker":"ec5755d0.8734e8","nl":false,"rap":true,"rh":0,"x":160,"y":80,"wires":[["a8e1e0b3.2ab48","e5c70b4f.e651e8"]]},{"id":"f203d25.e863f3","type":"ui_gauge","z":"8112cf5.6e6d23","name":"kg_weight","group":"e82bdfa9.120be","order":1,"width":0,"height":0,"gtype":"wave","title":"Unit Weight (kg)","label":"kg","format":"{{msg.payload}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":120,"wires":[]},{"id":"cbf929e2.fab818","type":"mqtt in","z":"8112cf5.6e6d23","name":"","topic":"uas/weight","qos":"1","datatype":"auto","broker":"ec5755d0.8734e8","nl":false,"rap":true,"rh":0,"x":160,"y":140,"wires":[["47732f08.0d4"]]},{"id":"47732f08.0d4","type":"function","z":"8112cf5.6e6d23","name":"kg","func":"g=msg.payload;\nmsg.payload=g/1000;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":140,"wires":[["f203d25.e863f3","da29b181.14f1b"]]},{"id":"97200837.bd70f8","type":"ui_gauge","z":"8112cf5.6e6d23","name":"lb_weight","group":"3110496.573c7b6","order":1,"width":0,"height":0,"gtype":"wave","title":"Unit Weight (lb)","label":"lb","format":"{{msg.payload}}","min":0,"max":"11.022","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":200,"wires":[]},{"id":"cc6b5038.a3d2b","type":"mqtt in","z":"8112cf5.6e6d23","name":"","topic":"uas/weight","qos":"1","datatype":"auto","broker":"ec5755d0.8734e8","nl":false,"rap":true,"rh":0,"x":160,"y":220,"wires":[["658a2e7e.1d2d9"]]},{"id":"658a2e7e.1d2d9","type":"function","z":"8112cf5.6e6d23","name":"pound","func":"g=msg.payload;\nmsg.payload=g/453.59237;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["97200837.bd70f8","1f954536.b1da1b"]]},{"id":"e89dc083.11369","type":"ui_gauge","z":"8112cf5.6e6d23","name":"oz_weight","group":"f4d69605.ffb5f8","order":1,"width":0,"height":0,"gtype":"wave","title":"Unit Weight (oz)","label":"oz","format":"{{msg.payload}}","min":0,"max":"176.3698","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":280,"wires":[]},{"id":"9607f236.8aad","type":"mqtt in","z":"8112cf5.6e6d23","name":"","topic":"uas/weight","qos":"1","datatype":"auto","broker":"ec5755d0.8734e8","nl":false,"rap":true,"rh":0,"x":160,"y":300,"wires":[["133374dc.3fbe8b"]]},{"id":"133374dc.3fbe8b","type":"function","z":"8112cf5.6e6d23","name":"ounces","func":"g=msg.payload;\nmsg.payload=g*0.03527396;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":300,"wires":[["e89dc083.11369","b3ba5f68.2739d"]]},{"id":"3529d561.04f84a","type":"ui_text","z":"8112cf5.6e6d23","group":"a79c65a8.bf1538","order":1,"width":0,"height":0,"name":"nama","label":"Nama","format":"{{msg.nama}}","layout":"row-spread","x":370,"y":420,"wires":[]},{"id":"48aecede.2049f","type":"inject","z":"8112cf5.6e6d23","name":"bio_rizqi","props":[{"p":"nama","v":"Muhammad Rizqi Mahendra","vt":"str"},{"p":"nim","v":"1841720144","vt":"str"},{"p":"no","v":"17","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":420,"wires":[["3529d561.04f84a","1a54af9.4339d5","5d3ff229.0b651c"]]},{"id":"1a54af9.4339d5","type":"ui_text","z":"8112cf5.6e6d23","group":"a79c65a8.bf1538","order":2,"width":0,"height":0,"name":"nim","label":"NIM","format":"{{msg.nim}}","layout":"row-spread","x":370,"y":460,"wires":[]},{"id":"5d3ff229.0b651c","type":"ui_text","z":"8112cf5.6e6d23","group":"a79c65a8.bf1538","order":3,"width":0,"height":0,"name":"no","label":"No Absen","format":"{{msg.no}}","layout":"row-spread","x":370,"y":500,"wires":[]},{"id":"f0397759.578a28","type":"ui_text","z":"8112cf5.6e6d23","group":"d59a6672.595698","order":1,"width":0,"height":0,"name":"nama","label":"Nama","format":"{{msg.nama}}","layout":"row-spread","x":370,"y":560,"wires":[]},{"id":"5b643ded.6a7804","type":"inject","z":"8112cf5.6e6d23","name":"bio_mayang","props":[{"p":"nama","v":"Mayang Muria Cahyaningsih","vt":"str"},{"p":"nim","v":"1841720003","vt":"str"},{"p":"no","v":"15","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":580,"wires":[["f0397759.578a28","b118d434.da7d98","93d51c7.7a5cbe"]]},{"id":"b118d434.da7d98","type":"ui_text","z":"8112cf5.6e6d23","group":"d59a6672.595698","order":2,"width":0,"height":0,"name":"nim","label":"NIM","format":"{{msg.nim}}","layout":"row-spread","x":370,"y":600,"wires":[]},{"id":"93d51c7.7a5cbe","type":"ui_text","z":"8112cf5.6e6d23","group":"d59a6672.595698","order":3,"width":0,"height":0,"name":"no","label":"No Absen","format":"{{msg.no}}","layout":"row-spread","x":370,"y":640,"wires":[]},{"id":"1aa04d45.f088f3","type":"ui_text","z":"8112cf5.6e6d23","group":"ce6dad79.08c17","order":1,"width":0,"height":0,"name":"nama","label":"Nama","format":"{{msg.nama}}","layout":"row-spread","x":370,"y":700,"wires":[]},{"id":"c2ea97a3.2c1b38","type":"inject","z":"8112cf5.6e6d23","name":"bio_wildhan","props":[{"p":"nama","v":"Muhammad Wildhan Juniar D. S.","vt":"str"},{"p":"nim","v":"1841720112","vt":"str"},{"p":"no","v":"18","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":720,"wires":[["1aa04d45.f088f3","bcaa4eca.05462","474d4c72.d406d4"]]},{"id":"bcaa4eca.05462","type":"ui_text","z":"8112cf5.6e6d23","group":"ce6dad79.08c17","order":2,"width":0,"height":0,"name":"nim","label":"NIM","format":"{{msg.nim}}","layout":"row-spread","x":370,"y":740,"wires":[]},{"id":"474d4c72.d406d4","type":"ui_text","z":"8112cf5.6e6d23","group":"ce6dad79.08c17","order":3,"width":0,"height":0,"name":"no","label":"No Absen","format":"{{msg.no}}","layout":"row-spread","x":370,"y":780,"wires":[]},{"id":"b0029298.1bd9","type":"debug","z":"8112cf5.6e6d23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":840,"wires":[]},{"id":"45692b65.07b2e4","type":"mqtt in","z":"8112cf5.6e6d23","name":"","topic":"uas/weight","qos":"2","datatype":"auto","broker":"ec5755d0.8734e8","nl":false,"rap":true,"rh":0,"x":130,"y":840,"wires":[["b0029298.1bd9"]]},{"id":"da29b181.14f1b","type":"ui_chart","z":"8112cf5.6e6d23","name":"kg_chart","group":"a89223e0.1216e","order":1,"width":0,"height":0,"label":"Chart Kilograms","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"kg","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff6600","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":460,"y":160,"wires":[["548a1c0f.bfdb94"]]},{"id":"548a1c0f.bfdb94","type":"debug","z":"8112cf5.6e6d23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"e5c70b4f.e651e8","type":"ui_chart","z":"8112cf5.6e6d23","name":"g_chart","group":"e11d2cf2.2c14e","order":1,"width":0,"height":0,"label":"Chart Grams","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"g","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff6600","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":460,"y":80,"wires":[["548a1c0f.bfdb94"]]},{"id":"1f954536.b1da1b","type":"ui_chart","z":"8112cf5.6e6d23","name":"lb_chart","group":"f37a486e.8fc788","order":1,"width":0,"height":0,"label":"Chart Pounds","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"lb","dot":false,"ymin":"0","ymax":"11.022","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff6600","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":460,"y":240,"wires":[["548a1c0f.bfdb94"]]},{"id":"b3ba5f68.2739d","type":"ui_chart","z":"8112cf5.6e6d23","name":"oz_chart","group":"eeef256a.1fd6f8","order":1,"width":0,"height":0,"label":"Chart Pounds","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"oz","dot":false,"ymin":"0","ymax":"176.3698","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff6600","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":460,"y":320,"wires":[["548a1c0f.bfdb94"]]},{"id":"ec1f9f2b.af68a","type":"ui_group","name":"Weight in Grams","tab":"82ef2b33.2c0ba8","order":1,"disp":true,"width":"5","collapse":true},{"id":"ec5755d0.8734e8","type":"mqtt-broker","name":"broker","broker":"broker.emqx.io","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e82bdfa9.120be","type":"ui_group","name":"Weight in Kilograms","tab":"82ef2b33.2c0ba8","order":2,"disp":true,"width":"5","collapse":true},{"id":"3110496.573c7b6","type":"ui_group","name":"Weight in Pounds","tab":"82ef2b33.2c0ba8","order":3,"disp":true,"width":"5","collapse":true},{"id":"f4d69605.ffb5f8","type":"ui_group","name":"Weight in Ounces","tab":"82ef2b33.2c0ba8","order":4,"disp":true,"width":"5","collapse":true},{"id":"a79c65a8.bf1538","type":"ui_group","name":"Muhammad Rizqi Mahendra","tab":"6c199d8b.443a64","order":2,"disp":true,"width":"6","collapse":true},{"id":"d59a6672.595698","type":"ui_group","name":"Mayang Muria Cahyaningsih","tab":"6c199d8b.443a64","order":1,"disp":true,"width":"6","collapse":true},{"id":"ce6dad79.08c17","type":"ui_group","name":"Muhammad Wildhan Juniar D. S.","tab":"6c199d8b.443a64","order":3,"disp":true,"width":"6","collapse":true},{"id":"a89223e0.1216e","type":"ui_group","name":"Chart Kilogram","tab":"9603e59f.fa7dc8","order":2,"disp":true,"width":12,"collapse":true},{"id":"e11d2cf2.2c14e","type":"ui_group","name":"Chart Gram","tab":"9603e59f.fa7dc8","order":1,"disp":true,"width":"12","collapse":true},{"id":"f37a486e.8fc788","type":"ui_group","name":"Chart Pound","tab":"9603e59f.fa7dc8","order":3,"disp":true,"width":12,"collapse":true},{"id":"eeef256a.1fd6f8","type":"ui_group","name":"Chart Ounce","tab":"9603e59f.fa7dc8","order":4,"disp":true,"width":12,"collapse":true},{"id":"82ef2b33.2c0ba8","type":"ui_tab","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"6c199d8b.443a64","type":"ui_tab","name":"About","icon":"fa-address-book","order":3,"disabled":false,"hidden":false},{"id":"9603e59f.fa7dc8","type":"ui_tab","name":"Chart","icon":"fa-area-chart","order":2,"disabled":false,"hidden":false}]